.productCard{
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    border: none;
    max-width: 450px;
    width: 100%;
    height: 500px;
}
.productCard .tituloProducto{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.productCard img{
    width: 300px;
    object-fit: cover;
}

.productCard img:hover{
    transform: scale(1.05);
}

.productPrice{
    margin-top: 10px;
    font-style: italic;
    font-weight: 700;
    font-size: 1.3rem;
}

.btnBuy{
    border-radius: 10px;
    margin-top: 2.7rem;
    margin-bottom: 10px;
    width: 85%;
    padding: 4px;
    font-weight: 600;
    font-size: 1.1rem;
    background-color: transparent;



}

.btnBuy:hover{
    transform: scale(1.1);
    background-color: #032e5c;
    color:white;
}
.btnBuy:active{
    background-color: #032e5c;
}
.txtSoldOut{
    margin-bottom: 20px;
    height: 25px;
}
.imgSoldOut{
    filter: opacity(0.50);
}
.SoldOut{
    background-color: rgba(27, 27, 27, 0.153);
    margin-top: 0;
}
.SoldOut:hover{
    background-color: #01214371;
}

p.productDescription {
    font-weight: 500;
    margin-top: 10px;
}

.offer{
    position: absolute;
    z-index: 100;
    border-radius: 15px;
    transform: rotate(-25deg);
    margin-left: 275px;
}

.offer p{
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0;
    padding: 2px;
    animation-name: priceAnima;
    animation-duration: 0.6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes priceAnima {
    from {font-size: 1.2rem; opacity: 0.5;}
    to {font-size: 1.5rem; opacity: 1;}
} 

.discountPrice{
    text-decoration: line-through;
    font-weight: 300;
    font-size: 1rem;
}

.offerPrice{
    position: absolute;
    margin-left: 250px;
    z-index: 100;
    border-radius: 15px;
    margin-top: -40px;
    transform: rotate(20deg);
}

.offerPrice p{
    font-style: italic;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
    padding: 2px;
}

/* media queries  */

@media (max-width: 450px) {
    .offer{
        margin-left: 250px;
    }
}
@media (min-width: 450px) {
    .offer{
        margin-left: 225px;
    }
    .offerPrice{
        margin-left: 200px;
    }
}


@media (min-width: 600px) {
    .offer{
        margin-left:200px;
    }






}