.productCard{
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    border: none;
    max-width: 50vw;
    color: black;
}
.productCard .tituloProducto{
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 10px;
}

.productCard img{
    max-width: 300px;
    object-fit: cover;
}
.productCard img:hover{
    transform: scale(1.05);
}

.productPrice{
    margin-top: 10px;
    font-style: italic;
    font-weight: 700;
    font-size: 1.3rem;
}

.btnBuy{
    background-color: rgba(19, 19, 20, 0.7);
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
    width: 35%;
    padding: 4px;
    font-weight: 600;
    font-size: 1.1rem;
    color:white;
    border: none;
}

.btnBuy:hover{
    transform: scale(1.1);
    background-color: rgba(19, 19, 20, 0.1);
    color: black;
   
}
.btnBuy:active{
    background-color: rgba(19, 19, 20, 0.5);
}
.txtSoldOut{
    margin-bottom: 0;
    height: 25px;
}
.imgSoldOut{
    filter: opacity(0.50);
}
.SoldOut{
    background-color: rgba(19, 19, 20, 0.3);
    margin-top: 0;
}

p.productDescription {
    font-weight: 500;
    margin-top: 10px;
}

.offer{
    position: absolute;
    z-index: 100;
    border-radius: 15px;
    border: blue 2px solid;
    margin-top: 2%;
    transform: rotate(-25deg);
}

.offer p{
    font-size: 1.6rem;
    font-weight: 700;
    color: rgba(0, 4, 255, 0.8);
    margin: 0;
    padding: 2px;
    animation-name: priceAnima;
    animation-duration: 0.6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes priceAnima {
    from {color:rgba(0, 4, 255, 0.8);font-size: 1.2rem; opacity: 0.5;}
    to {color: rgba(38, 165, 9, 0.8);font-size: 1.5rem; opacity: 1;}
} 

.discountPrice{
    text-decoration: line-through;
    font-weight: 300;
    font-size: 1rem;
}

.offerPrice{
    position: absolute;
    margin-left: 16%;
    z-index: 100;
    border-radius: 15px;
    border: blue 2px solid;
    margin-top: -3%;
    transform: rotate(20deg);
   
}




.offerPrice p{
    color: blue;
    font-style: italic;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
    padding: 2px;
}
