.productCard{
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    border: none;
    max-width: 50vw;
    color: black;
}
.productCard .tituloProducto{
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 10px;
}

.productCard img{
    max-width: 300px;
    object-fit: cover;
}
.productCard img:hover{
    transform: scale(1.05);
}

.productPrice{
    margin-top: 10px;
    font-style: italic;
    font-weight: 700;
    font-size: 1.3rem;
}

.btnBuy{
    background-color: rgba(19, 19, 20, 0.7);
    border-radius: 10px;
    margin-bottom: 10px;
    width: 30%;
    padding: 4px;
    font-weight: 600;
    font-size: 1.1rem;
    color:white;
    border: none;

}
.btnBuy:hover{
    transform: scale(1.1);
}
.btnBuy:active, .btnBuy:focus{
    background-color: rgba(19, 19, 20, 0.1);
}

p.productDescription {
    font-weight: 500;
    margin-top: 10px;
}