.productContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
.productContainer a{
    text-decoration: none;
}

.tituloProductoContainer{
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    padding: 20px;
    margin-bottom: 0;
    color:#0254ac;
}

.skeletonTxtTitle{
    margin: auto;
    width: 100%;
    max-width: 200px;
}
.containerSkeleton{
    margin-top: 10px;
}


.productCard .skeletonImg{
    margin: auto;
    width: 90%;
    max-width: 400px;
}

.productCard  .skeletonTxt{
    width: 90%;
    max-width: 400px;
    margin: auto;

}

/* media queries  #productInListConteiner */
@media (min-width: 450px) {
    .productContainer{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .productContainer  .offerPrice{
        margin-left: 230px;
    }
}

@media (min-width: 600px) {
    .productContainer  .offerPrice{
        margin-left: 200px;
    }
    .skeletonTxtTitle{
        width: 280px;
    }
    .containerSkeleton{
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .containerSkeleton .productCard{
        width: 290px;
    }
    
    
    .containerSkeleton .skeletonImg{
        margin: auto;
        width: 280px;
        
        
    }
    
    .containerSkeleton  .skeletonTxt{
        
        width: 280px;
        margin: auto;
    
    }
}