.formularioContacto {
    width: 85vw;
    margin: auto;
}
.formularioContacto label{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    font-weight: 700;
}

.MuiFormGroup-root.MuiFormGroup-row.css-qfz70r-MuiFormGroup-root{
    
}



.formulario .botonEnvio{
    margin-top: 20px;
    margin-left: 35%;
    margin-bottom: 30px;
    width: 30%;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 2px;
}
.botonEnvio:hover{
    background-color:rgba(0, 4, 255, 0.39);
    font-weight: 900;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 2px rgba(20, 20, 20, 0.3);
}
.MuiFormControl-root.formMediosPagos.css-1nrlq1o-MuiFormControl-root {
    display: flex;
    flex-wrap: wrap;
}

.formMediosPagos .radioBtnMedioPago{
    width: 15%;
    margin-left: 10%;
}
.medioPago{
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
}
.medioPago svg{
    width: 80px;
}

.medioPago p{
    margin-left: 4px;
    text-align: center;
    font-size: 1.3rem;
    width: 70%;
}

.medioPago .mediosPagoPrecio{
    
    font-weight: 600;
}
.errorForm{
    color: red;
}