.tituloAbout{
    font-size: 2rem;
    text-align: left;
    margin-top: 30px;
    margin-left: 5vw;
}
.productDetails .swiper {
    max-width: 500px;
}
.aboutContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-bottom: 50px;
}
.aboutContainer .sliderAbout{
    width: 90%;
    margin: auto;
 }
.aboutContainer .formAbout .formularioContacto{
    margin-left: 5vw;
    
}

