.tituloCarrito{
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}
.tableContainer{
    padding: 15px;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.btnAdd.css-i4bv87-MuiSvgIcon-root, svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.btnRemove.css-i4bv87-MuiSvgIcon-root,
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.btnClear.css-i4bv87-MuiSvgIcon-root{
    height: 35px;
    width: 35px;
}

.btnAdd{
    border-radius: 5px;
    width: 25%;
}
.btnAdd:hover{
    background-color: rgba(9, 114, 0, 0.664);
    transform: scale(1.2);
}
.btnRemove{
    border-radius: 5px;
    width: 25%;
}
.btnRemove:hover{
    background-color: rgba(255, 0, 0, 0.441);
    transform: scale(1.2);
}
.btnClear{
    border-radius: 5px;
    width: 25%;
}
.btnClear:hover{
    background-color: rgba(255, 0, 0);
    transform: scale(1.1);
}

.imgCheckout img{
    max-width: 110px;
}

.textoCarroVacio{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    margin:15px;
    margin-top: 20px;
    
}

/* modificaciones de tabla para pantalla 400   */

.tableCheckout td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium.css-1ex1afd-MuiTableCell-root {
    max-width: 120px;
    padding-left: 5px;
}

.tableCheckout td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium{
    padding: 1px;
}