.tituloCarrito{
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}
.tableContainer{
    padding: 30px;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.btnAdd.css-i4bv87-MuiSvgIcon-root, svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.btnRemove.css-i4bv87-MuiSvgIcon-root,
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.btnClear.css-i4bv87-MuiSvgIcon-root{
    height: 35px;
    width: 35px;
}

.btnAdd{
    border-radius: 5px;
    width: 25%;
}
.btnAdd:hover{
    background-color: rgba(9, 114, 0, 0.664);
    transform: scale(1.2);
}
.btnRemove{
    border-radius: 5px;
    width: 25%;
}
.btnRemove:hover{
    background-color: rgba(255, 0, 0, 0.441);
    transform: scale(1.2);
}
.btnClear{
    border-radius: 5px;
    width: 25%;
}
.btnClear:hover{
    background-color: rgba(255, 0, 0);
    transform: scale(1.1);
}
.btnVaciarCarrito{
    background-color:rgba(255, 0, 0, 0.2);
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    border: none;
}
.btnVaciarCarrito:hover{
    background-color: rgba(255, 0, 0,0.7);
    color: white;
}

.imgCheckout img{
    max-width: 150px;
}

.textoCarroVacio{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 20px;
}

