.productDetails{
    border:none;
    margin-top: 20px;
    border-radius: 10px; 
    width: 80vw;
}
.productDetails .productCard{
    max-width: 70vw;
    margin: auto;
}
.productDetails .swiper {
    max-width: 500px;
}

.productDetails .tituloProducto{
    font-size: 2.1rem;
    margin-top: 1rem;
}

.productDetails .productPrice{
    font-size: 1.8rem;
    margin-top: 1rem;
}

.productDetails .productDescriptionExtra{
    padding: 5px;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.productDetails .stockDisponible{
    text-align: right;
    margin-top: 10px;
    padding-right: 10px;
}

.btnTerminarCompra{
    background-color: transparent;
    font-weight: 600;
    border-radius: 5px;
    margin: 2px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.btnTerminarCompra:hover, .btnTerminarCompra:focus{
    transform: scale(1.1);
    font-weight: 800;
}

.soldOutText{
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

.productDetails .offer{
    margin-left: 40%;
    transform: rotate(25deg);
}

.productDetails .offerPrice{
    margin-left: 30%;
    margin-top: -5%;
}
.productDetails .offerPrice p{
    font-size: 1.6rem;
}