.toggleTheme{
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding-left: 5px;
    border-radius: 15px;
    border:solid 1px;
    height: 35px;
    font-weight: 500;
    width: 120px;
}
.toggleTheme:hover{
    cursor: pointer;
    font-weight: 600;
}
.toggleTheme p{
    margin: -4px;
}