
.css-tlelie-MuiListItemText-root{
    width: 130px;
}

img.productImgCartWidget{
    height: 150px;
}


.carritoVacio {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 5px;
    margin: 5px;
    margin-top: 40%;
    text-align: center;
    width: 100%;
}

.titleWidget{
    font-weight: 600;
    text-align: left;
    margin-right: 10px;
    width:30%;
    font-size: 1.2rem;
}
.priceWidget{
    font-size: 1.1rem;
}
.priceWidget, .cantWidget{
    font-weight: 600;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
}
.totalPriceWidget{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    width: 100%;
}
.widgetAction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
    margin-left: 20px;
}

.WidgetAdd,.WidgetRemove,.WidgetClear{
    border-radius: 5px;
    width: 40px;
    height: 30px;
} 
.WidgetAdd:hover{
    background-color: rgba(9, 114, 0, 0.664);
    transform: scale(1.1);
}
.WidgetRemove:hover{
    background-color: rgba(255, 0, 0, 0.441);
    transform: scale(1.1);
}

.WidgetClear:hover{
    background-color: rgba(255, 0, 0);
    transform: scale(1.1);
}
.containerBtnComprarCarrito a{
    width: 100%;
}
.comprarCarrito{
    background-color: rgba(0, 255, 0, 0.21);
    padding: 2px;
    width: 96%;
    margin-left: 2%;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 2%; 
}
.comprarCarrito:hover{
    background-color: rgba(0, 255, 0, 0.8);
}

.eliminarCarrito{
    background-color: rgba(255, 0, 0, 0.21);
    padding: 2px;
    width: 96%;
    margin-left: 2%;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 2%;
}
.eliminarCarrito:hover{
    background-color: rgba(255, 0, 0);
}