.widgetCart{
    display: flex;
    margin-bottom: 30px;
    border-bottom: 2px rgba(0, 0, 0, 0.492) groove;
}

.cart-widget{
    display: flex;
}
.cart-widget .contadorProductosCarrito{
    padding: 1px 3px;
    background-color: rgba(0, 4, 255, 0.69);
    border-radius: 20%;
    color: white;
    font-size: 0.8rem;
    margin-top: -5px;
    margin-left: -3px;
}

img.productImgCartWidget{
    max-width: 200px;
    width: 40%;
    object-fit: cover;
}

.widgetCart p{
    font-weight: 400;
    font-size: 1rem;
}
.widgetCart .cart-product__details{
    width: 40%;
}
.cart-product__details .widgetTitle, .cart-product__details .widgetPrice{
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}
.widgetCart .widgetSize{
    color: red;
    font-size: 1.3rem;
    font-weight: 800;
    text-decoration: underline;
}
.cart-product__action{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.cart-product__action .WidgetAdd, .cart-product__action .WidgetRemove, .cart-product__action .WidgetClear{
    
    border-radius: 5px;
    width: 25%;

} 
.cart-product__action .WidgetAdd:hover{
    background-color: rgba(9, 114, 0, 0.664);
    transform: scale(1.1);
}
.cart-product__action .WidgetRemove:hover{
    background-color: rgba(255, 0, 0, 0.441);
    transform: scale(1.1);
}

.cart-product__action .WidgetClear:hover{
    background-color: rgba(255, 0, 0);
    transform: scale(1.1);
}
.precioTotalWidget{
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
}

.comprarCarrito{
    background-color: rgba(0, 255, 0, 0.21);
    padding: 2px;
    width: 96%;
    margin-left: 2%;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 2%;
    
}
.comprarCarrito:hover{
    background-color: rgba(0, 255, 0, 0.8);
}


.eliminarCarrito{
    background-color: rgba(255, 0, 0, 0.21);
    padding: 2px;
    width: 96%;
    margin-left: 2%;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 2%;
}
.eliminarCarrito:hover{
    background-color: rgba(255, 0, 0);
}

.carritoVacio p{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 5px;
    margin: 5px;
}