.containerNav{
    margin: 0 auto 0 auto;
    text-transform: uppercase;
    font-weight: 500;
}
.containerNav{
    border-bottom-style: groove;
    border-bottom-color: rgba(0, 0, 0, 0.301);
}
.containerNav .navbar {
    margin: 0;
    display: flex;
    justify-content:space-between;
}
.containerNav .navbar .container{
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;
}
.marcaNavBar {
    width: 30%;
}

.marcaNavBar:hover{
    transform: scale(1.1);
}

.marcaNavBar img{
    width: 80px;
}
.navbar-brand{
}
.material-icons {
    font-size: 40px;
}
a.nav-link:hover {
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 2px #0095ff63;
}
.containerNav .dropdown-menu{
    box-shadow: 1px 1px 1px 2px #0095ff63;
    margin: -5px 10px 20px 25px;
}

.material-icons:hover{
    cursor: pointer;
    box-shadow: 2px 1px 2px 3px rgba(0, 0, 0, 0.3);
}
.containerNav .btnLinkNav:hover {
    background-color: #03528a72;
 }


.containerNav img{
    border-radius: 2px;
    padding-left: 10px;
}

.containerNav .carritoCompras{
    border-radius: 30%;
    padding: 2px;
}

.brandTitle{
    font-weight: 900;
    font-style: italic;
}

.txtNav, .txtNav:focus, .txtNav:hover{
    text-decoration: none;
    font-weight: 700;
}


.nav-link, .nav-link:focus, .nav-link:hover {
    font-weight: 700;
    margin-left: 15px;
    margin-right: 15px;
}
.brandTitle a{
    text-decoration: none;
}
.brandContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brandContainer svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root{
    width: 60px;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root{
    margin-right: 5px;
}

.nombreMarca, .nombreMarca:focus, .nombreMarca:hover{
    margin: auto;
    margin-left: 20px;
    
}

.containerNav .nombreMarca:hover,
span.MuiBadge-badge.MuiBadge-standard.MuiBadge-anchorOriginTopRight.MuiBadge-anchorOriginTopRightRectangular.MuiBadge-overlapRectangular.BaseBadge-badge.css-fvc8ir-MuiBadge-badge:hover,
svg.MuiSvgIcon-root.MuiSvgIcon-colorAction.MuiSvgIcon-fontSizeMedium.css-11pbyhm-MuiSvgIcon-root:hover,
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root:hover
{
    color: #027cff;
}