.toggleContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.toggleContainer #toggleButtonGroupOrderProducts{
    margin-right:20px;
    margin-bottom: 10px;
}

.toggleContainer #toggleButtonGroupOrderProducts button{
    font-size: 0.65rem;
    padding: 3px;
}
.toggleContainer #toggleButtonGroupOrderProducts svg{
    margin-left: 2px;
}
.toggleContainerTxt{
    text-align: right;
    margin-right: 30px;
    font-size: 0.9rem;
    margin-bottom: 5px;
}