.toggleContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;

}
.toggleContainer #toggleButtonGroupOrderProducts{
    margin-right:20px;
    margin-bottom: 10px;
}

.toggleContainer #toggleButtonGroupOrderProducts button{
    font-size: 0.65rem;
    padding: 3px;
}
.toggleContainer #toggleButtonGroupOrderProducts svg{
    margin-left: 2px;
}