.footer{
    padding: 20px;
    border-top-style: groove;
    border-top-color: rgba(168, 168, 168, 0.301);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.tituloFooter{
    font-size: 1.8rem;
    font-weight: 900;
    
}
.contenidoFooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.logoMarca img:hover, .logoMarca img:focus{
    transform: scale(1.2);
    cursor: pointer;
}
.redesFooter{
    width: 70%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.red{
    margin: 20px;
}
.red svg{
font-size: 5rem;
}
.red svg:hover, .red svg:focus{
    transform: scale(1.4);
    cursor: pointer;
}