@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
:root{
  background-color: rgba(0, 0, 0, 0.9);
  
}
.App{
  width: inherit;
  box-sizing: border-box;
}
