.ItemCounter{
    display: flex;
    justify-content: space-around;

}
.cantidadUnidad{
    font-size: 1.1rem;
    font-weight: 800;
}

.restarUnidad, .sumarUnidad{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-weight: 700;
    border: none;
    color: white;
}

.restarUnidad{
    background-color: rgba(255, 0, 0, 0.6);
}

.restarUnidad:hover {
    transform: scale(0.90);
}
.restarUnidad:active{
    background-color: rgba(255, 0, 0);
}
.sumarUnidad{
    background-color: rgba(10, 114, 0, 0.6);
}

.sumarUnidad:hover{
    transform: scale(1.1);
}
.sumarUnidad:active{
    background-color: rgba(10, 114, 0);
}


.talles p{
    margin-bottom: 0;
}

.talles .btnsTalles button{ 
    width: 35px;
    height: 35px;
    background-color: transparent;
    font-weight: 600;
    border-radius: 5px;
    margin: 2px;
}
.talles .btnsTalles .btnSizeDisabled{
    text-decoration:line-through;
    text-decoration-thickness: 3px;
    font-weight: 400;
}

.talles .btnsTalles .btnSizeDisabled:hover, .talles .btnsTalles .btnSizeDisabled:focus, .talles .btnsTalles .btnSizeDisabled:active{
    transform: none;
    font-weight: 800;
    background-color: #0000006a;
}

.talles .btnsTalles .sizeClicked{
    transform: scale(1.2);
    font-weight: 800;
}

.talles .btnsTalles button:hover, .productDetails .talles .btnsTalles button:focus{
    transform: scale(1.3);
    font-weight: 800;
}

